<% @espera = @corrida %>


<h1><%= Client.find_by_id(current_user.meta_id).name %>, aguarde ser atendido...</h1>


<% while @espera.driver_id == nil %>

<% end %>

	<h1><%= Client.find_by_id(current_user.meta_id).name %>, você foi atendido</h1>
	<table>
	  <thead>
		<tr>
		  <th>Motorista</th>
		  <th>Carro</th>
		</tr>
	  </thead>

	  <tbody>
		  <tr>
			<td><%= Driver.find_by_id(@espera.driver_id).name %></td>
			<td><%= Driver.find_by_id(@espera.driver_id).car_model %></td>
		  </tr>
	  </tbody>
	</table>

