<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
	    									<h1>Welcome To <h1>Taxi API Demo</h1></h1>
					
	    	</div><!--/ .row_centered -->
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->

    <%= link_to "Log in", new_user_session_path, :method => :get %>
    or
