<br><br><br>
<h2>Corridas disponíveis:</h2>

<table>
  <thead>
    <tr>
      <th>Endereço:</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |corrida| %>
      <tr>
        <td><%= corrida.address %></td>
        <td><%=	 form_tag corrida_path(corrida.id), :method => :put do %>
        <%= hidden_field_tag "driver_id", current_user.meta_id %>
        <%= submit_tag 'Atender' %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
