<p id="notice"><%= notice %></p>

<h1>Olá <%= Driver.find_by_id(current_user.meta_id).name %></h1>

<script>
function reload() {
    setInterval(function(){ location.reload(); }, 3000);
}
reload();
</script>

  

<div class="dynamic">

<%= render partial: 'dynamic' %>

</div>


